<br><br><br><div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <h1 class="title">Add some books here!</h1>
            <div class="card">
                <div class="card-body">
                    <form action="/book/add" method="POST">
                        <div class="form-group">
                            <input type="text" name="title" placeholder="Title" class="form-control" required autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="author" placeholder="Author" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="editorial" placeholder="Editorial" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="genre" placeholder="Genre" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="number" name="pages" placeholder="Pages" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="cover" placeholder="Cover" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-block">
                                Save the book
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

{{!-- <div class="popup-outer">
    <div class="popup-box">
        <div class="bx bx-x close">
            <div class="profile-text">
                <div class="text">
                    <span class="name">Add a book</span>
                </div>
            </div>
            <form action="/book/add" method="POST">
                <div class="form-group">
                    <input type="text" name="title" placeholder="Title" class="form-control" required autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="author" placeholder="Author" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="text" name="editorial" placeholder="Editorial" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="text" name="genre" placeholder="Genre" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="number" name="pages" placeholder="Pages" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="text" name="cover" placeholder="Cover" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="number" name="progress" placeholder="Progress in percent" class="form-control" required>
                </div>
                <div class="form-group">
                    <select name = "score" required class="form-control">
                        <option value = "1 " selected>So bad</option>
                        <option value = "2">Bad</option>
                        <option value = "3">Good</option>
                        <option value = "4">So good</option>
                        <option value = "5">Excellent</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea name="review" class = "form-control" placeholder="Put your opinion here and" required></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">
                        Guardar el proyecto
                    </button>
                </div>
            </form>
        </div>
    </div>
</div> --}}