<div class="login-container">
          <div class="login-info-container">
              <br><br>
            <h1 class="title">Sign Up</h1>
            <div class="social-login">
                
            </div>
            <form class="inputs-container" method="POST" action="/signup">
                <input class="input" type="text" placeholder="Name" id="nombre" name="fullname" autofocus required>
                <input class="input" type="email" placeholder="Email" name="email" id="email" required>
                <input class="input" type="password" id="pswd" placeholder="Password" name="password" required>
                <input class="input" type="password" id="confirmPw" placeholder="Confirm password" required>
                <div class="alert">
                    <span class="text" id="text"></span>
                </div>
                <button class="btn" id="signup" disabled>sign up</button>
                <p>Have an account? <a href="/signin" class="span">Sign In</a></p>
            </form>
          </div>
            <img class="image-container" src="https://datosdiana.blob.core.windows.net/image/login.svg" alt="">
      </div>