<div class="login-container">
          <div class="login-info-container">
              <br><br>
            <h1 class="title">Log in</h1>
            <div class="social-login">
                
            </div>
            <form class="inputs-container" method="POST" action="/signin">
                <input class="input" type="email" placeholder="Email" name="email" required>
                <input class="input" type="password" placeholder="Password" name="password" required>
                <p>Forgot password? <span class="span">Click here</span></p>
                <button class="btn">login</button>
                <p>Don't have an account? <a href="/signup" class="span">Sign Up</a></p>
            </form>
          </div>
            <img class="image-container" src="https://datosdiana.blob.core.windows.net/image/login.svg" alt="">
      </div> 